{% extends 'base.html' %}
{% load static %}



{% block body %}
<div class="container">

       <div class="row p-5 m-5">

			  <div class="col-12">
				<div class="box">
				  <div class="box-body">
					<div class="table-responsive">
						<div id="productorder_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
							<div class="row">

                               <div class="sign-in-page">



                <!-- create a new account start-->

                <div class="col-md-12 col-sm-12 create-new-account">
                    <h4 class="checkout-subtitle text-center">Change Your Password</h4>

                        <form action="{% url 'reset_password' %}" method="POST">   {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon135633253" style="width:180px;">Current Password</span>
                                    <input type="password" name="current_Password" class="form-control pl-15 bg-transparent plc-black" placeholder="Password" required>
                            </div>

                                   {% if erorr_message == "Password is wrong !" %}
                                        <div class="alert alert-danger" role="alert">
                                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                          <span class="sr-only">Error:</span>
                                          {{erorr_message}}
                                        </div>
                                    {% endif %}

                            <div class="input-group">
                                 <span class="input-group-addon" id="basic-addon1357633253" style="width:180px;">New Password</span>
                                <input type="password" name="new_password" class="form-control pl-15 bg-transparent plc-black" placeholder="New Password" required>
                            </div>

                            <div class="input-group">
                                 <span class="input-group-addon" id="basic-addon1357633253" style="width:180px;">Re-Type New Password</span>
                                <input type="password" name="re_type_new_password" class="form-control pl-15 bg-transparent plc-black" placeholder="Retype-New Password" required>
                            </div>

                            {% if erorr_message == "New Password & Re-type New Password !" %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                  {{erorr_message}}
                                </div>
                            {% endif %}


                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block">Change Password</button>
                            </div>

                        </form>





                <!-- create a new account -->

            </div><!-- /.row -->
		</div>

                            </div>
                        </div>
                    </div>
                  </div>
                </div>
             </div>
       </div>

</div>



{% endblock %}